name: pull-request

on:
  - pull_request

jobs:
  pull-request:
    name: pull-request

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    env:
      DOTNET_NOLOGO: true
    steps:    
      - name: checkout
        uses: actions/checkout@v5

      - name: install dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: install packages
        run: dotnet restore 

      - name: build
        run: dotnet build
       
      - name: test
        run: dotnet test